/npm-debug.log

/test/assets/package-*/
/test/assets/temp-*/
/test/reports
/test/tmp/

/promises-and-asynchonous-programming/bower.json
/promises-and-asynchonous-programming/component.json
/promises-and-asynchonous-programming/public/bower_components
/promises-and-asynchonous-programming/public/node_modules
/promises-and-asynchonous-programming/node_modules

/workshop-http-and-ajax/bower.json
/workshop-http-and-ajax/component.json
/workshop-http-and-ajax/public/bower_components
/workshop-http-and-ajax/public/node_modules
/workshop-http-and-ajax/node_modules

/workshop-spa/bower.json
/workshop-spa/component.json
/workshop-spa/public/bower_components
/workshop-spa/public/node_modules
/workshop-spa/node_modules

/workshop-unit-tests/bower.json
/workshop-unit-tests/component.json
/workshop-unit-tests/public/bower_components
/workshop-unit-tests/public/node_modules
/workshop-unit-tests/node_modules

/exam-4Oct2016/Assignment/bower.json
/exam-4Oct2016/Assignment/component.json
/exam-4Oct2016/Assignment/public/bower_components
/exam-4Oct2016/Assignment/public/node_modules
/exam-4Oct2016/Assignment/node_modules