<h1>Cookies!</h1>

<ul class="list list-cookies">

    {{#each result}}
    <li data-id="{{id}}">
        <div class="cookie-element">
            <strong>{{text}}</strong>
            <br/>
            <span>{{category}}</span>
            <br/>
            <img src="{{img}}" />
            <!-- TODO: like/dislike buttons -->
            <span>Likes: {{likes}}</span>
            <span>Dislikes: {{dislikes}}</span>
            <br/>
            <a href="#" class="btn-like-dislike">Like</a>
            <a href="#" class="btn-like-dislike">Dislike</a>
        </div>
    </li>
    {{/each}}

</ul>